<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

    <!--指定输出源 CONSOLE，输出到控制台-->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %t %5p [%c:%M:%L] - %m%n"/>
        </layout>
    </appender>

    <!--指定输出源rollingFileAppender  最多备份五个文件，每个最大10M，当前日志Log4jUse.log，当大小达到1MB时，更名为Log4jUse.log.1,新建Log4jUse.log。最老的日志Log4jUse.log.5-->
    <appender name="rollingFileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="encoding" value="utf-8" />
        <param name="MaxFileSize" value="10MB" />
        <param name="MaxBackupIndex" value="5" />
        <param name="File" value="/Users/didi/logs/learning/leetCode.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %t %p [%c:%M] - %m%n" />
        </layout>
    </appender>

    <!--指定日志级别INFO，输出到CONSOLE 和 dailyRollingFileAppender两个输出源-->
	<root>
		<level value="INFO" />
		<appender-ref ref="CONSOLE" /><!--如果不指定控制台，控制台就没有输出-->
        <!--<appender-ref ref="dailyRollingFileAppender" />-->
        <appender-ref ref="rollingFileAppender" />
	</root>


</log4j:configuration>